# services:
  # backend:

  # gateway:

  # mongo:
version: '3.8'

services:
  gateway:
    build:
      context: ../gateway
      dockerfile: Dockerfile
    ports:
      - "${GATEWAY_PORT}:${GATEWAY_PORT}"
    env_file:
      - ../.env
    depends_on:
      - backend
    networks:
      - app-network
    restart: always

  backend:
    build:
      context: ../backend
      dockerfile: Dockerfile
    expose:
      - "${BACKEND_PORT}"
    env_file:
      - ../.env
    depends_on:
      - mongo
    networks:
      - app-network
    restart: always

  mongo:
    image: mongo:latest
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
    volumes:
      - mongo_data:/data/db
    networks:
      - app-network
    restart: always

volumes:
  mongo_data:

networks:
  app-network:
    driver: bridge